VITE_SUPABASE_URL=https://hwgcswhzfxuhaiheiisu.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_REPLACE_WITH_YOUR_KEY
VITE_EMAILJS_SERVICE_ID=service_23c3rek
VITE_EMAILJS_TEMPLATE_ID=template_mr7heil
VITE_EMAILJS_PUBLIC_KEY=gCP0moKzt2HrFGDwA
VITE_GEMINI_API_KEY=AIzaSyAyEecgtiFd3ocWDmgLyFR0KQkkVf9_Pbo
